Semana1/Ejercicios/Solución/estudiante-soap/src/main/resources/estudiante.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://ejemplo.com/estudiante"
           xmlns:tns="http://ejemplo.com/estudiante"
           elementFormDefault="qualified">

    <xs:element name="getEstudianteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEstudianteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="curso" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
